<p>Why Us?</p>
  <table class="table text-white intro_text">
    <tbody>
      <tr>
        <td>Instant Quote</td>
        <td> <img style="width: 80px; height: 50px;" src="assets/images/instant_quote.png" alt="instant_quote_pic"></td>
      </tr>
      <tr>
        <td>Expedited Delivery</td>
        <td> <img style="width: 50px; height: 40px;" src="assets/images/expedited_shipping.png" alt="expedited_shipping_pic"></td>
      </tr>
      <tr>
        <td>Loyalty Discount</td>
        <td> <img style="width: 50px; height: 50px;" src="assets/images/discount.png" alt="customer_loyalty_discount_pic"></td>
      </tr>
      <tr>
        <td>24/7 Support</td>
        <td> <img style="width: 50px; height: 50px;" src="assets/images/24_7_icon.png" alt="24-7_cs_pic"></td>
      </tr>
    </tbody>
  </table>
