<p class="hero-heading-text">Welcome to <span id="glow_text">NNP</span></p>
  <p class="hero-heading-text" style="padding-top: 10px; font-size: 2.5em;"><span class="fuel-text-animation">We Fuel</span>Innovation</p>
  <button type="button" class="btn learn_more_btn">Learn More</button>
  <div class="row">
    <div class="col-sm-6 col-md-6 text-center">
      <app-why_us_section></app-why_us_section>
    </div>
    <div class="col-sm-6 col-md-6 text-center">
      <app-fueling_innovation_section></app-fueling_innovation_section>
  </div>