<div class="container-fluid text-center contact-us-section">
  <div class="contact-div-section mx-auto">
  <p class="contact-us-text">We'd love to hear from you</p>
  <p>Whether you have a question about features, pricing, delivery, or anything else, our team is ready to answer all your questions</p>
  </div>
  <div class="row">
    <div class="contact-us-text mx-auto"><p>Contact</p></div>
  </div>
  <div class="row mx-auto">
      <!--form -->
      <div class="col-md-3 col-sm-3 col-xs-12"></div>
      <div class="col-md-3 col-sm-3 col-xs-12">
      <form class = "form-container mx-auto">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="NAME">
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" placeholder="PHONE">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="EMAIL">
        </div>
        <div class="form-group">
          <textarea name="message" class="form-control" placeholder="MESSAGE"></textarea>
        </div>
        <button type="submit" class="btn get_in_touch_btn">Get In Touch</button>
      </form>
      </div>
      <!--form -->
      <div class="col-md-3 col-sm-3 col-xs-12">

        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place"> Seattle | WA</span></i></li>

          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a class="a-list-item" href="tel:1-212-555-5555" title="Give me a call"> (212) 555-2368</a></span></i></li>

          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a class="a-list-item" href="mailto:#" title="Send me an email"> EmailUs@nnp.com</a></span></i></li>
        </ul>
        <hr>
        <ul class="social-media-list">
          <li>
            <a href="#" target="_blank" class="contact-icon"><i class="fa fa-github px-3 fa-2x" aria-hidden="true"></i></a>
            <a href="#" target="_blank" class="contact-icon"><i class="fa fa-twitter px-3 fa-2x" aria-hidden="true"></i></a>
            <a href="#" target="_blank" class="contact-icon"><i class="fa fa-instagram px-3 fa-2x" aria-hidden="true"></i></a>
            <a href="#" target="_blank" class="contact-icon"><i class="fa fa-codepen px-3 fa-2x" aria-hidden="true"></i></a>
          </li>
        </ul>
        <hr>
        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"></div>
    </div>
  </div>
