
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div style="text-transform: capitalize;" class="col-sm-4">
						<h2>{{this.data.user.clientProfile.fullname+ "'s "}}Quotes <b>History</b></h2>
					</div>
					<div class="col-sm-8">						
						<a [routerLink]= "['/quote', username]"  class="btn btn-primary"><i class="material-icons">&#xE863;</i> <span>New Quote</span></a>
						<a class="btn btn-info"><i class="material-icons">&#xE24D;</i> <span>Previous Quote</span></a>
					</div>
                </div>
            </div>
			<div class="table-filter">
				<div class="row"></div>
			</div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>Quote ID</th>
						<th>Gallons Requested</th>
                        <th>Delivery Address</th>
						<th>Delivery Date</th>						
                        <th>Suggested Price</th>						
						<th>Amount Due</th>
                    </tr>
                </thead>
                <tbody>
					<ng-container *ngFor="let quote of this.data.user.quote" >
						<tr><td>{{quote.id}}</td>
						<td>{{quote.gallonsRequested}}</td>
						<td>{{quote.deliveryAddress}}</td>
						<td>{{quote.deliveryDate}}</td>
						<td>{{quote.suggestedPrice}}</td>
						<td>{{quote.amountDue}}</td></tr>
					</ng-container>
                </tbody>
            </table>
        </div>
    </div>     
</body>                              		                            