<div class="text-white text-center login-img">
<img src="/assets/images/NNP_LOGO.png">
<p style="font-size: 2.5em; padding-top: 10px;"><b>Welcome back</b></p>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12"></div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!--form -->
        <form #loginForm="ngForm" class = "form-container" (ngSubmit)="login()">
        <h1>Login</h1>
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" required [(ngModel)]="model.username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required [(ngModel)]="model.password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-info btn-block">Submit</button>
        </form>
        <!--form -->
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
</div>