*{color:#fff;}
.bg{
    background: url('/Fuel-Front-End/src/assets/images/oil.jpg'); 
    background-repeat: no-repeat; 
    background-size: auto;
}
.form-container{
    border:0px solid #fff; 
    padding:50px 60px;
    margin-top:20vh;
    margin-bottom: 30vh;
    -webkit-box-shadow: -1px 4px 20px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 20px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 20px 11px rgba(0,0,0,0.75);
}