<div class="container-fluid cards">
<div class="rows"><p id="our_team_text" class="mx-auto">Our Team</p></div>
<div class="row my-2 justify-content-center mx-auto">
  <div class="col-md-4">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="py-3">
            <img class="profile-img" src="assets/images/profile.png" alt="Avatar">
            <p class="pt-3" style="font-size: 25px;">Cuong Phan</p>
            <p>Co-Founder</p>
            <p>Lead Software Developer</p>
            </div>
        </div>
        <div class="flip-card-back">
          <p>Cuong Phan is a Computer Scientist with 2 years of experience in .NET framework.</p>
          <p>He develops & maintains this platform to guarantee users experience & provides clients with instant
            accurate quotes.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="py-3">
          <img class="profile-img" src="assets/images/kn.jpeg" alt="Avatar">
          <p class="pt-3" style="font-size: 25px;">Kim Nguyen</p>
          <p>Co-Founder</p>
          <p>Product Manager</p>
          </div>
        </div>
        <div class="flip-card-back">
          <p>Kim Nguyen is a senior Computer Scientist from University of Houston</p>
          <p>He manages our delivery & supply chain system, negotiate with our partners
            for the best fuel & prices to ensure customers satisfaction</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="py-3">
          <img class="profile-img" src="assets/images/t_n_avatar.jpeg" alt="Avatar">
          <p class="pt-3" style="font-size: 25px;">Thuy Nguyen</p>
          <p>Co-Founder</p>
          <p>Lead Database Administrator</p>
          </div>
          </div>
        <div class="flip-card-back">
          <p>Thuy Nguyen is a senior Computer Scientist with 3 years of experience in database desgin & file system</p>
          <p>He desgins the database infrastructure for our platform to keep track of our clients' quotes history
            and enables customer loyalty discounts. </p>
        </div>
    </div>
  </div>
</div>
</div>
