/*hero section image */
.hero-img {
    width: 100%;
    height: 100%;
    /*linear-gradient background color to make it darker */
    background: linear-gradient(rgba(0, 0, 0, 0.2)), url(/assets/images/0.jpeg);
    /*Scale image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}